@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

.logo-header {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 1px 3px rgb(77 71 81 / 20%);
    -webkit-box-shadow: 0 1px 3px rgb(77 71 81 / 20%);
    -moz-box-shadow: 0 1px 3px rgb(77 71 81 / 20%);
    font-size: 40px;
    color: #6504b5;
    position: relative;  
    padding-left: 200px;
}

.logo{
    font-family: 'Lily Script One', cursive;
}

.auth-page{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    background-color: #efeef1;
}

.top-header{
    height: 30px;
    background-color: #efeef1;
}