.available-pets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 480px;
    background-color: #efeef1;
    padding-bottom: 60px;
    gap: 20px;
}

.available-pet-card{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.available-pet-name{
    color:#6504b5;
    background-color: white;
    box-shadow: 0 4px 4px #0000000d;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
}

.available-pet-card-image{
    width: 100%;
    height: 90%;
    border-radius: 15px 15px 0px 0px;
    border: 1px solid #d2d1d3;
    box-shadow: 0 4px 4px #0000000d;
}

.loading{
    background-color: #efeef1;
}


