.search-page{
    display: grid;
    grid-template-columns: repeat(4, 12%);
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    margin-left: 200px;
    width: 100%;
}

.pet-card-image{
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0 4px 4px #0000000d;
}

.pet-card-detail{
    display: flex;
    border: 1px solid #d2d1d3;
    border-radius: 0px 0px 15px 15px;
    color:#6504b5;
    background-color: white;
    box-shadow: 0 4px 4px #0000000d;
    padding: 20px;
}

.pet-card-link{
    display: flex;
    flex-direction: column;
    height: 18em;
    position:relative;
}
